* {
  font-family: "Montserrat", sans-serif;
}

nav {
  background-color: #ffab73;
  z-index: 1;
  top: 0px;
}

.sidenav {
  transition: all 0.4s linear;
}

/* .navbar-fixed {
  height: 22px;
} */

.opa {
  position: fixed;
  width: 100%;
  z-index: 2;
  height: 100%;
  top: 0;
  background-color: rgba(128, 128, 128, 0.459);
}

.component{
  background-image: radial-gradient( circle 597px at 93% 9.8%,  rgba(255,61,89,1) 1.7%, rgba(252,251,44,1) 97% );
  min-height: 100vh;
}